.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .section {
    width: 50%;
  }
}

.wineCard {
  padding: 12px;
  border: 2px solid #282c34;
  margin: 20px;
  border-radius: 8px;
}

.wineCard h2 {
  text-align: center;
}

.wineCard button {
  display: block;
  margin: 0 auto;
}

.wine-img {
  display: block;
  width: 150px;
  height: auto;
  border: 3px solid #282c34;
  border-radius: 3px;
  margin: 0 auto 10px;
}

.wine-stats {
  margin: 0 auto 20px;
}

.wine-stats, td {
  padding: 4px;
  border: 1px solid #282c34 !important;
  border-collapse: collapse;
}

.collapse {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* .collapse.show {
  border-top: 1px solid #ccc;
} */

.collapse p {
  text-align: center;
}
